.main1{
    overflow: auto;
    display: table;

}

.main{
    margin-left: 75px;
    margin-top: 50px;
    display: inline-block;
}

h1 {
    color:red;
}

.nav-design {
    background: white;
    margin-bottom: 0px;
    margin-top: 0px;
    border-style: none;
}
.nav-design a{
    color: black;
}
.nav-design i{
    margin-left: 5px;
}
.shift-right{
    margin-left: 30px;
    margin-top: 10px;
}
.align-right {
    margin-left: 870px;
}

/* MODAL */

.modal-backdrop.in {
/* prevents modal from dimming */
    z-index: auto;
}


/* MENU BAR CSS */
.ui.menu {
    margin-bottom: 0px;

}
.ui.fixed.menu{

}
.item{
    height: 40px;
    font-size: 15px;
}

/* FORM ELEMENTS CSS */


.cust-select{
    width: 400px;
    margin-right: 20px;
}




/* LIST VIEW CSS */

#wrapper {
    width: 1280px;
    overflow-x: auto;
}
#contain{
    width: 1000px;
    margin-right:20px;
}

.list-view{
    width:1000px;
    margin-right: auto;
}
.ui.table thead{
    text-align: center;
}
.narrow-table{
    width: 800px;

}


/* HISTORY MODEL CSS */

.reports{
    width: 400px;
}

/* LIST VIEW CUSTOMIZER */

.dt-buttons {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
}
.buttons-colvis {
    margin-right: 5px;
}
.dataTables_length {
    float: left;
}
.dataTables_filter{
    float: right;
}

th{
    font-size:13px;
}

td {
    font-size: 12px;
}