.main{
    margin-left: 220px;
}
h1 {
    color:red;
}



/* MENU BAR CSS */
.ui.fixed.menu{
    width: 200px;
}
.item{
    height: 40px;
    font-size: 15px;
}

/* FORM ELEMENTS CSS */


.cust-select{
    width: 400px;
    margin-right: 20px;
}




/* LIST VIEW CSS */

#wrapper {
    width: 1200px;
    overflow-x: auto;
}
#contain{
    width:1200px;
    margin-right:20px;
}

.list-view{
    width: 1200px;
    margin-right: auto;
}
.ui.table thead{
    text-align: center;
}
.narrow-table{
    width: 800px;

}


/* HISTORY MODEL CSS */

.reports{
    width: 400px;
}
