.main1{
    overflow: auto;
    display: table;

}

.main{
    margin-left: 220px;
    margin-top: 53px;
    display: inline-block;

}
h1 {
    color:red;
}



/* MENU BAR CSS */
.ui.fixed.menu{
    width: 200px;
}
.item{
    height: 40px;
    font-size: 15px;
}

/* FORM ELEMENTS CSS */


.cust-select{
    width: 400px;
    margin-right: 20px;
}




/* LIST VIEW CSS */

#wrapper {
    width: 1280px;
    overflow-x: auto;
}
#contain{
    width: 1000px;
    margin-right:20px;
}

.list-view{
    width:1000px;
    margin-right: auto;
}
.ui.table thead{
    text-align: center;
}
.narrow-table{
    width: 800px;

}


/* HISTORY MODEL CSS */

.reports{
    width: 400px;
}

/* LIST VIEW CUSTOMIZER */

.dt-buttons {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
}
.buttons-colvis {
    margin-right: 5px;
}
.dataTables_length {
    float: left;
}
.dataTables_filter{
    float: right;
}

th{
    font-size:13px;
}

td {
    font-size: 12px;
}